<center><h3>This is the home page of EnglishBee</h3></center>

<p><%= link_to "View Teachers", teachers_path %></p>
<p><%= link_to "View Students", students_path %></p>
<p><%= link_to "View Courses", courses_path %></p>
<p><%= link_to "View Parents", parents_path %></p>
