<h2>Our Teachers</h2>

<div>
  <form action="/teachers" method="get">
    <input type="text" name="first_name" placeholder="Please type name or languages">
    <input type="submit">
  </form>
</div>

<div>
  <p><%= link_to "Create new teacher", new_teacher_path %></p>
</div>

<div>
<ul>
  <% @teachers.each do |teacher| %>
   <li>

    <p><%= link_to teacher.first_name, teacher_path(teacher) %></p>

    Teaches <%= teacher.language %>

    Contact email is <%= teacher.email %>

   </li>
  <% end %>
</ul>
</div>
