<h2>Our Teachers</h2>

<div>
  <form action="/teachers" method="get">
    <input type="text" name="first_name" placeholder="Please type name or languages">
    <input type="submit">
  </form>
</div>

<div>
<ul>
  <% @teachers.each do |id, teacher| %>
   <li>
    <%= link_to teacher[:first_name], teacher_path(id) %>, teaches <%= teacher[:languages] %>. Contact email is <%= teacher[:email] %>
   </li>
  <% end %>
</ul>
</div>
