<h3>This is course <%=@course.name %>, taught be teacher <%=@course.teacher.first_name %></h4>

<h5>Your students are:</h5>

  <% @course.students.each do |student|%>
<ul>
    <%= student.first_name %> <%= student.last_name %>
</ul>
  <% end %>


<h5>LESSONS - GO TO LESSONS</h5>
