<h2>This is course <%=@course.name %>, taught be teacher <%=@course.teacher.first_name %></h2>

<h4>Your students are:</h4>
<li>
  <% @course.students.each do |student|%>
<ul>
    <%= student.first_name %>
</ul>
  <% end %>
</li>


<h2>LESSONS - GO TO LESSONS</h2>
